.main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.main-1{
    margin-top: 30px;
    margin-bottom: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}
.member{
    height: 300px;
    width: 30%;
    display: flex;
    flex-direction: row;
    border: 3px gray solid;
    box-shadow: 6px 6px 6px black;
}
.member:hover{
    box-shadow: none;
}
.member-img{
    
    padding: 20px 10px 20px 10px; 
    width: 40%;
    /* border: 2px solid black; */
    
    
}
.member-img img{
    width: 100%; height: 100%; border-radius: 60% 60% 60% 60%;
    box-shadow: 3px 3px 3px black;
}
.member-info{
    padding: 20px 10px 20px 10px;
    display: flex;
    
    text-align: left;
}
.member-info ul{
    list-style: none;
}
.member-info ul li span a{
    text-decoration: none;
}