.PGinformation{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    background-color: lightsteelblue;
    margin-bottom: 40px;
}
.PGimgs{
    width: 50%;
    
    
}
.PGinformation .PGimgs div .PGimg1{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50% 50%;
    left: 130px;
    top: 130px;
    border: 5px solid skyblue;

}
.PGinformation .PGimgs div .PGimg1:hover{
    transition: 100s;
    border: none;
    height: 155px;
    width: 155px;
    z-index: 1;
    
}
.PGinformation .PGimgs div .PGimg2{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50% 50%;
    left: 240px;
    top: 40px;
    border: 8px solid orange;
}
.PGinformation .PGimgs div .PGimg2:hover{
    transition: 100s;
    border: none;
    height: 208px;
    width: 208px;
    z-index: 1;
    
}
.PGinformation .PGimgs div .PGimg3{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50% 50%;
    left: 200px;
    top: 180px;
    border: 12px solid greenyellow;
}
.PGinformation .PGimgs div .PGimg3:hover{
    transition: 100s;
    border: none;
    height: 312px;
    width: 312px;
    z-index: 1;
    
}
.PGinformation .PGinfo{
    width: 60%;
    overflow: hidden;
    padding-top: 13px;
    padding-bottom: 20px;
    padding-right: 20px;
    /* border: 3px solid black; */
}
.PGinformation .PGinfo h1{
    
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.PGinformation .PGinfo p{
    height: 450px;
    font-size: 22px;
    text-align: justify;
    color: white;
    
}